In [8]:
#basic data cleaning operation without jump into statistical or visualization techmique first basic
# summarize the number of unique values for each column using numpy
import pandas as pd
import numpy as np

In [9]:
# load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv')
# summarize the number of unique values in each column
df

,1,2558,1506.09,456.63,90,6395000,40.88,7.89,29780,0.19,...,2850,1000,763.16,135.46,3.73,0.6,33243.19,65.74,7.95,1.1
0,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
1,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
2,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
3,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0
4,6,54,1438.13,544.91,82,135000.0,44.67,6.92,1570.0,0.15,...,608.28,200.00,150.00,52.22,4.06,0,30967.25,65.77,7.85,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,200,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,...,381.84,254.56,84.85,146.97,4.50,0,2593.50,65.85,6.39,0
932,201,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,...,284.60,180.00,150.00,51.96,1.90,0,4361.25,65.70,6.53,0
933,202,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,...,402.49,180.00,180.00,0.00,2.24,0,2153.05,65.91,6.12,0
934,203,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,...,402.49,180.00,90.00,73.48,4.47,0,2421.43,65.97,6.32,0
935,204,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,...,254.56,254.56,127.28,180.00,2.00,0,3782.68,65.65,6.26,0

In [10]:
df.head(5)

,1,2558,1506.09,456.63,90,6395000,40.88,7.89,29780,0.19,...,2850,1000,763.16,135.46,3.73,0.6,33243.19,65.74,7.95,1.1
0,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
1,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
2,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
3,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0
4,6,54,1438.13,544.91,82,135000.0,44.67,6.92,1570.0,0.15,...,608.28,200.00,150.00,52.22,4.06,0,30967.25,65.77,7.85,1

In [11]:
df.columns

Index(['1', '2558', '1506.09', '456.63', '90', '6395000', '40.88', '7.89',
       '29780', '0.19', '214.7', '0.21', '0.26', '0.49', '0.1', '0.4', '99.59',
       '32.19', '1.84', '0.16', '0.2', '87.65', '0', '0.47', '132.78', '-0.01',
       '3.78', '0.22', '3.2', '-3.71', '-0.18', '2.19', '0.3', '2.19.1', '310',
       '16110', '0.5', '138.68', '89', '69', '2850', '1000', '763.16',
       '135.46', '3.73', '0.6', '33243.19', '65.74', '7.95', '1.1'],
      dtype='object')

In [12]:
df.nunique()    # identifying unique values for each columns

1           238
2558        296
1506.09     926
456.63      932
90          179
6395000     374
40.88       819
7.89        617
29780       560
0.19         57
214.7       576
0.21         59
0.26         73
0.49        107
0.1          53
0.4          91
99.59       892
32.19       809
1.84        169
0.16         53
0.2          68
87.65         9
0             1
0.47         92
132.78        9
-0.01         8
3.78          9
0.22        308
3.2         447
-3.71       391
-0.18       107
2.19         42
0.3           4
2.19.1       45
310         141
16110       110
0.5           3
138.68      757
89            9
69            9
2850        387
1000        219
763.16      643
135.46      648
3.73        499
0.6           2
33243.19    936
65.74       169
7.95        286
1.1           2
dtype: int64

In [13]:
df.drop(columns='0', axis =1, inplace=True)

In [14]:
df.shape # 0 column got deleted

(936, 49)

In [15]:
df.isnull().sum()

1           0
2558        0
1506.09     0
456.63      0
90          0
6395000     0
40.88       0
7.89        0
29780       0
0.19        0
214.7       0
0.21        0
0.26        0
0.49        0
0.1         0
0.4         0
99.59       0
32.19       0
1.84        0
0.16        0
0.2         0
87.65       0
0.47        0
132.78      0
-0.01       0
3.78        0
0.22        0
3.2         0
-3.71       0
-0.18       0
2.19        0
0.3         0
2.19.1      0
310         0
16110       0
0.5         0
138.68      0
89          0
69          0
2850        0
1000        0
763.16      0
135.46      0
3.73        0
0.6         0
33243.19    0
65.74       0
7.95        0
1.1         0
dtype: int64

In [16]:
#empty list to store selected column namespace
low_unique_cols = []


#loop through each column
for i in df.columns:
     np.unique_counts = df[i].nunique()
     if np.unique_counts <10:
          low_unique_cols.append(i)

print("columns with <10 unique values")
print(low_unique_cols)

columns with <10 unique values
['87.65', '132.78', '-0.01', '3.78', '0.3', '0.5', '89', '69', '0.6', '1.1']

In [17]:
# other method to find low_unique _cols
####
#low_unique_cols = [col for col in df.columns if df[col].nunique() < 10]

In [18]:
## check whether the low_unique_column is useful for prediction or not if not de;lete it

df.drop(low_unique_cols, axis=1, inplace = True)

In [19]:
df.shape  # dropped useless column in dataset

(936, 39)

In [20]:
df.values

array([[2.000000e+00, 2.232500e+04, 7.911000e+01, ..., 5.157204e+04,
        6.573000e+01, 6.260000e+00],
       [3.000000e+00, 1.150000e+02, 1.449850e+03, ..., 3.169284e+04,
        6.581000e+01, 7.840000e+00],
       [4.000000e+00, 1.201000e+03, 1.562530e+03, ..., 3.769621e+04,
        6.567000e+01, 8.070000e+00],
       ...,
       [2.020000e+02, 1.400000e+01, 2.514000e+01, ..., 2.153050e+03,
        6.591000e+01, 6.120000e+00],
       [2.030000e+02, 1.000000e+01, 9.600000e+01, ..., 2.421430e+03,
        6.597000e+01, 6.320000e+00],
       [2.040000e+02, 1.100000e+01, 7.730000e+00, ..., 3.782680e+03,
        6.565000e+01, 6.260000e+00]])

In [21]:
###df.to_numpy() df.values will do same function

In [22]:
data = df.values

In [23]:
# split the data input and output
X = data[:, :-1]
y = data[:, -1]

In [24]:
X.shape

(936, 38)

In [25]:
y.shape

(936,)

In [26]:
#import sklearn.feature_selection import Variancethreshold

from sklearn.feature_selection import VarianceThreshold

In [27]:
# define thresholds to check
###thresholds = arange(0.0, 0.55, 0.05)

In [28]:
transform = VarianceThreshold() #define the transform

In [29]:
X_sel = transform.fit_transform(X)  # transform the input data

In [30]:
print(X_sel.shape)

(936, 38)

Running the example first loads the dataset, then applies the transform to remove all columns with a variance of 0.0.

The shape of the dataset is reported before and after the transform, and we can see that the single column where all values are the same has been removed.

In [31]:
## identifying duplicate data
df.duplicated().sum()

np.int64(0)

In [32]:
# using different dataset iris
# locate rows of duplicate data
import pandas as pd
# define
# load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv')
# calculate duplicates

In [33]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [34]:
df.shape

(149, 5)

In [35]:
df.duplicated().sum()

np.int64(3)

In [36]:
dups=df.duplicated()

In [37]:
print(df[dups])

     5.1  3.5  1.4  0.2     Iris-setosa
33   4.9  3.1  1.5  0.1     Iris-setosa
36   4.9  3.1  1.5  0.1     Iris-setosa
141  5.8  2.7  5.1  1.9  Iris-virginica

In [38]:
df.duplicated().sum()

np.int64(3)

In [39]:
df.drop_duplicates(inplace=True)