In [1]:
#import basic libraries
import numpy as np
import pandas as pd

In [2]:
a=pd.Series() #creating empty series
print(a)

Series([], dtype: object)

In [3]:
b=pd.Series("hello")
print(b)

0    hello
dtype: object

In [4]:
list=["red","blue","orange"]
c=pd.Series(list)
print(c)

0       red
1      blue
2    orange
dtype: object

In [5]:
tuple=(3,4,5,6)
d=pd.Series(tuple)
print(d)

0    3
1    4
2    5
3    6
dtype: int64

In [6]:
dict={101:"car",102:"bike",103:"scooty"} #craeting dictionary using key:values
sale=pd.Series(dict)
print(sale)

101       car
102      bike
103    scooty
dtype: object

In [7]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.Series(mydataset)
v=pd.DataFrame(mydataset)

print(v)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
cars        [BMW, Volvo, Ford]
passings             [3, 7, 2]
dtype: object

In [8]:
a=pd.Series(["monday","tuesday","wed","thursday"])
print(a)

0      monday
1     tuesday
2         wed
3    thursday
dtype: object

In [9]:
a.index=["day 1","day 2","day 3",'day 4'] #change index value as u want
print(a)

day 1      monday
day 2     tuesday
day 3         wed
day 4    thursday
dtype: object

In [10]:
a[1]

/tmp/ipython-input-240059899.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  a[1]

'tuesday'

In [11]:
a['day 2']

'tuesday'

DATAFRAME

In [12]:
#SYNTAX
#pd.DataFrame(data,index,column)

In [13]:
list_2d=[[3,2,1],[2,3,4],[4,5,6]]
a=pd.DataFrame(list_2d)
print(a)

   0  1  2
0  3  2  1
1  2  3  4
2  4  5  6

In [14]:
data=[["john",40],["kalai",30],["sheela",20]]
name=pd.DataFrame(data,columns=["Name","age"],index=[10,11,12])
name

      Name  age
10    john   40
11   kalai   30
12  sheela   20

In [15]:
#creating dataframe using dictionary
dict1={"Name":["john","gayu","kalai","venu"],"Age":[57,35,30,56],"Job":["HR","Manager","lead","assistant"],"Salary":[20000,60000,40000,20000]}
data1=pd.DataFrame(dict1,index=[10,11,12,14])
print(data1)

     Name  Age        Job  Salary
10   john   57         HR   20000
11   gayu   35    Manager   60000
12  kalai   30       lead   40000
14   venu   56  assistant   20000

In [16]:
data1.sort_values("Salary",ascending=False) #to change in descending use ascending =false, to change peemanently inplace =true

     Name  Age        Job  Salary
11   gayu   35    Manager   60000
12  kalai   30       lead   40000
10   john   57         HR   20000
14   venu   56  assistant   20000

In [17]:
data=data1.copy()
data

     Name  Age        Job  Salary
10   john   57         HR   20000
11   gayu   35    Manager   60000
12  kalai   30       lead   40000
14   venu   56  assistant   20000

In [18]:
#loc function used to fetch column and row using column name or index name
#iloc fetch column and row by index position
#fecth name column
data1[["Name"]]

     Name
10   john
11   gayu
12  kalai
14   venu

In [19]:
data1[["Age","Salary"]]

    Age  Salary
10   57   20000
11   35   60000
12   30   40000
14   56   20000

In [20]:
data1.loc[:,"Name"] #syntax variable name.loc[r,c]

10     john
11     gayu
12    kalai
14     venu
Name: Name, dtype: object

In [21]:
data1.loc[:,"Age"]

10    57
11    35
12    30
14    56
Name: Age, dtype: int64

In [22]:
data1.loc[:,["Age","Salary"]]

    Age  Salary
10   57   20000
11   35   60000
12   30   40000
14   56   20000

In [23]:
data1.loc[11,:]

Name         gayu
Age            35
Job       Manager
Salary      60000
Name: 11, dtype: object

In [24]:
data1.loc[[11,12],:]

     Name  Age      Job  Salary
11   gayu   35  Manager   60000
12  kalai   30     lead   40000

In [25]:
data1.loc[11:14,:] #or data1.loc[[11,12,13,14],:]

     Name  Age        Job  Salary
11   gayu   35    Manager   60000
12  kalai   30       lead   40000
14   venu   56  assistant   20000

In [26]:
data1.loc[[11,12],["Name","Age"]]

     Name  Age
11   gayu   35
12  kalai   30

In [27]:
data1.loc[:,["Age","Job","Salary"]]

    Age        Job  Salary
10   57         HR   20000
11   35    Manager   60000
12   30       lead   40000
14   56  assistant   20000

In [28]:
#iloc
data1.iloc[:,0]

10     john
11     gayu
12    kalai
14     venu
Name: Name, dtype: object

In [29]:
data1.iloc[:,[2,3]]

          Job  Salary
10         HR   20000
11    Manager   60000
12       lead   40000
14  assistant   20000

In [30]:
data1.iloc[1:4,0:3]

     Name  Age        Job
11   gayu   35    Manager
12  kalai   30       lead
14   venu   56  assistant